.footer{
    background-color: #201E20;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
ul {
    margin: 0;
}
.iconLinks{
    padding: 0px;
    margin-right: 6%;
    /* border: solid purple 2px; */
    display: flex;
    justify-content: space-between;
}