.AboutPage {
    font-size: 40px;
    background-color: #DDC3A5;
}
.headshot {
    border-radius: 100%;
    height: 75vh;
    border: solid black 5px;
}
.imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.textDiv {
    max-width: 50%;
}
.textContainer {
    display: flex;
    justify-content: center;
}