input[type=text], input[type=email]{
    padding: 10px;
    border-radius: 10px;
    border: solid black 1px;
    margin: 5px;
    width: 50%;
    display: flex;
    align-items: center;
    border: none;
}

input[type=submit] {
    width: 100%;
    background-color: #201E20;
    color: #E0A96D;
    border: none;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    transition: .4s;
  }
  input[type=submit]:hover{
    background-color: darkgreen;
    color: lime; 
    font-size: 20px;
  }
  textarea {
    width: 100%;
    font: inherit;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    background-color: #f8f8f8;
    resize: vertical;
  }
body {
    background-color: #DDC3A5;;
}
.contactDiv {
    margin: 10px 10% 0 10%
}
.contactHeaderDiv {
    display: flex;
    justify-content: center;
    border-bottom: solid white 2px;
}